@charset "utf-8";
/* CSS Document */
body { background-image:url(bck3.jpg);
background-size:cover;
padding: 30px 100px 30px 100px;
}
#container{
	margin:auto;background-color:rgba(251,251,251,0.53);
padding-bottom:0px;}
#log{ float:left;
padding-top:10px;
padding-left:10px;
}
#nav {font-size:21px;
text-decoration:none;
}
#mar{
	font-size:20px;
	color:rgba(244,0,0,1.00);
}
#p {background-color:rgba(124,124,123,0.32);
}
#img{position: relative;
float:left;
padding-left:10px;
padding-right:10px;
}
#con
{
	font-size:20px;
	padding-left:60px;
}
#cont{color:rgba(0,0,0,1.00);
font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
font-size:18px;
background-color:rgba(124,124,123,0.32);
position: absolute; 
top:300px; 
left: 150px; 
width: 43.5%; 
bottom:px;}
#footer{padding-left:35%;
font-size:18px;}
#r{
	padding-right:10px;
}
#veo{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:24px;
	position:relative;
	float:right;
	padding-right:100px;
	

}
#veo1{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:24px;
	position:relative;
	float:left;
	padding-right:100px;
	padding-left:60px;
	

}
#veo2{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:24px;
	position:relative;
	float:right;
	padding-right:100px;
	

}
#a{
	padding-left:250px;
	font-size:24px;
	padding-top:20px;
}

 

	 
   